*.sln
*.suo
*.config
*.csproj
*.resx
*.exe
*.pdb
*.ico
*.cache
*.resources
*.settings
*AssemblyInfo.cs
*Resources.Designer.cs
*Settings.Designer.cs
*.AssemblyAttributes.cs
*.dll
*.pak
*p7s
*.txt
*.log
*nupkg
*XML
*.CopyComplete
*awesomium_process